.ant-layout {
    height: 100%;
    color: #fff;
    user-select: none;
}

.ant-menu {
    margin-top: 15px;
}

.ant-layout-header, .ant-layout-footer, .ant-layout-sider-children {
    text-align: center;
    background: #6A1B9A
}

h1 {
    color: #fff;
}