.login {
    height: 100%;
    background: url('./images/win10.jpg') no-repeat center;
    background-size: 100% 100%;
}

.login-header {
    height: 80px;
    background: #6A1B9A;
    display: flex;
    padding: 20px;
}

.login-header h1 {
    text-indent: 24px;
    color: #fff;
    font-size: 28px;
}

.login-header img {
    width: 80px;
    height: 60px;
    display: block;
    margin: -10px;
}

.login-content {
    text-align: center;
    width: 500px;
    border: solid 1px #FF8DFE;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 200px;
}

.login-content h1 {
    color: #fff;
    font-size: 28px;
}

.login-form-button {
    width: 100px;
}